n8n-workflows/routine-agent-workflow.json
{
  "name": "TaskMaster – Agente de Rutina",
  "nodes": [
    {
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Webhook Agente",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 380],
      "webhookId": "taskmaster-routine-agent",
      "parameters": {
        "httpMethod": "POST",
        "path": "routine-agent",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
      "name": "Extraer Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 380],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst body = data.body ?? data;\n\nconst user = body.user ?? {};\nconst tasks = Array.isArray(body.tasks) ? body.tasks : [];\n\nconst userName = user.fullName || user.firstName || user.email || 'Usuario';\n\nconst today = new Date().toLocaleDateString('es-ES', {\n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'\n});\n\nconst prioEmoji = { urgente: '🔴', alta: '🟠', media: '🟡', baja: '🟢' };\nconst statusLabel = { pendiente: 'Pendiente', en_proceso: 'En proceso', finalizada: 'Finalizada' };\n\nconst taskList = tasks.length > 0\n  ? tasks.map((t, i) => {\n      const due = t.dueDate ? new Date(t.dueDate).toLocaleDateString('es-ES') : 'Sin fecha';\n      const emoji = prioEmoji[t.priority] || '⚪';\n      const status = statusLabel[t.status] || t.status;\n      const desc = t.description ? `\\n   📝 ${t.description}` : '';\n      return `${i + 1}. ${emoji} ${t.title} | ${status} | Vence: ${due}${desc}`;\n    }).join('\\n')\n  : 'No tienes tareas registradas aún.';\n\nconst systemPrompt = `Eres un asistente experto en productividad y organización personal. Ayudas a las personas a estructurar su día de forma clara, realista y motivadora.\\n\\nHoy es ${today}.\\n\\nCuando recibas las tareas del usuario:\\n- Analiza prioridades (urgente > alta > media > baja) y fechas límite\\n- Propón un horario o secuencia de tareas para hoy\\n- Agrupa tareas relacionadas si las hay\\n- Destaca las urgentes o próximas a vencer\\n- Termina con un consejo motivacional breve\\n\\nUsa formato claro con secciones. Sé conciso y práctico.`;\n\nconst userPrompt = `Hola! Soy ${userName}. Aquí están mis tareas:\\n\\n${taskList}\\n\\n¿Puedes ayudarme a organizar mi rutina para hoy?`;\n\nreturn [{ json: { systemPrompt, userPrompt } }];"
      }
    },
    {
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "GPT-4o Agente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 380],
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.GROQ_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', temperature: 0.7, max_tokens: 1500, messages: [{ role: 'system', content: $json.systemPrompt }, { role: 'user', content: $json.userPrompt }] }) }}",
        "options": {}
      }
    },
    {
      "id": "66666666-6666-6666-6666-666666666666",
      "name": "Responder Agente",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 380],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ text: $json.choices[0].message.content }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Agente": {
      "main": [
        [{ "node": "Extraer Datos", "type": "main", "index": 0 }]
      ]
    },
    "Extraer Datos": {
      "main": [
        [{ "node": "GPT-4o Agente", "type": "main", "index": 0 }]
      ]
    },
    "GPT-4o Agente": {
      "main": [[{ "node": "Responder Agente", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "3",
  "meta": { "templateCredsSetupCompleted": true },
  "pinData": {},
  "tags": []
}
